
header{
	    font-family: 'Ubuntu';
	overflow: hidden;
}

#top-header{
		
    display: flex;
    
    justify-content: center;
    
    flex-direction: row;
    
    text-align: center;
    

}
#menu {
    padding-top: 25px;
}



#menu a {

    
    display: inline-block;
    
    justify-content: center;
    
    flex-direction: row;
    
    text-decoration: none;
    
    width: 100px;
    
    height: 50px;

    padding-top: 25px;
    
    background-color: #282829;
}

#menu a:hover {
    background-color: #4a4a4b;
}

#menu a:visited {
    text-decoration: none;
    
    color: #8DE4FF;
}


#welcome-text {
    display: flex;
    
    justify-content: center;
    
    flex-direction: column;

    
    padding-top: 100px;
    
    padding-left: 100px;
    
    padding-right: 100px;
    

}

#welcome-text h1 {
    color: #70AE6E;
    
    text-align: center;
    
    font-size: 36px;
}

#welcome-text p {
    
    text-align: justify;
    
    line-height: 36px;
    color: #B27092;
    
    padding-right: 20%;
    
    padding-left: 20%;
    
    font-size: 24px;

}

#welcome-text ul {
    text-align: justify;
    
    line-height: 36px;
    color: #FFC857;
    
    padding-right: 20%;
    
    padding-left: 20%;
    
    font-size: 24px;
}


body {
    background-color: #39393A;
        font-family: 'Ubuntu';
    color: #8DE4FF;
}

nav {
    display: flex;
    
    justify-content: space-around;

    
    flex-direction: row;
}

