/*************************/
/* Styling Header */
/*************************/
header{
	
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 200px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: 0px 30px;
	margin: none;
	height: 15%;
	width: 15%;
}

#logo img{
	width: 60%;

    
	float: left;
	padding: 10px 0px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: left;
    padding: 0px 225px;
	width: 100%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: left;
	margin: none;
	background: teal;
    width: 100%;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
    transform: translate(-200px, 0%);
}
	
#menu li a{
		
	color: #FFF;
}st
	
#menu li:hover a, #menu li span{
	background: #FFF;
	color: #0074D9;
	border-left: 1px solid #0074D9;
	text-decoration: none;
}

/****************/
/* Styling Body */
/****************/

body {
    background-color: lightgray;
}


#welcometext{
    text-align:center;
    font-size: 36px;
}

#information{
    text-align: left;
    padding: 0px 200px;
    font-size: 24px;
    
}

#photo1 {
    width: 50%;
    height: 50%;
}